@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Roboto:ital@1&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

#hero-img{
    width: 100%;
}

#navegation{
    margin: 0 auto;
}

header {
    height:100px ;
    display: flex;
    align-items: center;

}


nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    margin: 20px 50px; 
    
}

nav a:hover{
    color: lightblue;
    text-decoration: underline;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

h1{
    font-family:'Lato','Golos', 'Roboto','Helvetica Neue', sans-serif;
    background-color: #EDF2F4;
    width: 100%;
}

h2, h4, p{
    font-family:'Lato','Golos', 'Roboto','Helvetica Neue', sans-serif;
    font-style: italic;
    font-weight: 200;
}


main section{
    text-align: center;
}
body { 
    background-color:#fff;
}

header{
    background-color: #2B2D42;
}

.home-title {
    font-size: 300%;
    margin: 0 auto;
}

h4 {
    font-size: 100%;
    margin-top: 20px 10px;
}

.camping-card{
    margin-top: 20px;
    margin-bottom: 15px;  
}

.img_sec{
    max-width: 300px ;
    /**background-color: #8D99AE;*/
    padding: 0 20px;
}

.offer{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-img{
    width: 290px;
    height: auto;
    border-radius: 20px;
    padding: 5px;
    background-color: hsl(235, 21%, 21%);
}


#background {
    height: 100px;
    background-color:#EDF2F4;
}


.book, button{
    background-color: #EDF2F4;
    color: black;
    width: 30%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    
}

.join{
    background-color: #fff;
    color: black;
    width: 30%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.book:hover,  button:hover {
    background-color: #2B2D42;
    color: #fff;
}

.join:hover{
    background-color: #2B2D42;
    color: #fff;
    
}

.mountains{
    width: 100%;
    height: 20%;
}

.msg{ 
    background-color: #EDF2F4;
    height: 200px;
    padding: 20px;
}
.msg h2 p{
     color: #000;
}


footer{ 
    background-color: #2B2D42;
    color: #EDF2F4;
    padding: 20px;
    
    
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

footer p {
    font-size: 1.2em;
}

footer a:hover{
    color: lightblue;
    text-decoration: underline;
}

.icon, .logo {
    width: 80px;
    margin: 10px 20px;
    padding: 5px;
}

.social img{
    border-radius: 50px;
    padding: 5px;
}