h1{ 
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
nav {
    background-color:#2B2D42;
    padding: 50px;
    
}


   

a{
    color: #fff;
    margin: 20px 30px;
    text-decoration: none;
    font-size: large;
    display: flex;
    justify-content: center;
    
}

a:hover{
    text-decoration: underline;
}
