.backgound, img{
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle_images{
    border-radius: 50%;
    width: 20%;
    height: auto;
    padding: 1%;
    background-color: rgb(63, 59, 59);
    margin: 2%;
    

}

body{
    background-color: grey;
}


.content_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}




