:root{
    --primary-color: #D8F0F0  ;
    --secondary-color: #748A8A ;
    --accent1-color: #475C5C;
    --accent2-color: #1D3131;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


/*nav bar*/
.sidebar{
    box-shadow: 0px 10px 10px 5px var(--accent1-color);
}
.bg_navbar .sidebar{
    position: fixed;
    background-color: var(--accent2-color);
    width: 20%;
    height: 100%;
    padding: 30px;
}

.nav_img{
    width: 70%;
    display: flex;
    margin: auto auto;
    border-radius: 50%;
    
}

a, h3, ul{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14;

}

.list_icon {
    margin: 0 15px;
}

i{
    margin: 8px;
}

a, li{
    padding: 10px;
    
}

li:hover, a:hover{
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

ul{
    margin-top: 10px;
}

.my_work, .content_info {
    margin: 20 auto;
    padding-top: 30px;
    
}

.social{
    margin-top: 30px;
    display: flex;
    justify-content: left;
    align-items: left;
}

.social .social_i.fa-brands:hover{
    font-weight: bold;
    font-size: 38px;
    color: #1D3131;
    
}

.main{
    margin-left:25%;
    margin-right: 5%;
}

.main h2 {
    margin-top: 30px;
}

.invisible{
    height: 50px;
}

.education_certificate{
    display: flex;
    margin: 20px;
}

.education_certificate img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.education_certificate h4{
    margin-left: 20px;
}

.content_box{
    margin-top: 50px;
    border: solid;
    border-color: var(--accent2-color);
    border-radius: 30px;
    width: 900px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 66.6px 66.6px 66.6px;
    
}

.content_box img{
    width: 300px;
    height: 180px;
    border-radius: 30px;
    margin: 8px 10px;
    
}


.img_box{
    grid-column: 1/4;

}

.text_box{
    grid-column: 5/10;
    margin-top: 30px;
    
}

.text_box h4{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

.text_box p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.button1{
    grid-column: 5/7;
    grid-row: 3/4;
    background-color: black;
    color: white;
    border-radius: 20px;
    height: 40px;
    margin-top: 16px;
}

.button1:hover{
    transition: 0.15s;
    background-color: white;
    color: #000;
}


.button2{
    grid-column: 8/10;
    grid-row: 3/4;
    border-radius: 20px;
    height: 40px;
    margin-top: 16px;
    background-color: var(--primary-color);
}

.button2:hover{
    transition: 0.15s;
    background-color: var(--secondary-color);
    color: #000;
}





